
.title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-card {
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  transition: all 0.3s ease;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.card-text {
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.btn-up {
  margin-top: -0.5rem;
}

.btn {
  transition: all 0.3s ease;
}

.btn-dark:hover,
.btn-danger:hover {
  opacity: 0.8;
}