<app-nav-bar></app-nav-bar>
<router-outlet></router-outlet>

<footer class="custom-footer">
    
    <p class="footer-text">&copy; Created by Vishal Jalan. So, all rights are reserved to me and me only.</p>

    <style>
        .custom-footer {
    background-color: #0d2a3e;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem 0;
    color: #fff;
    text-align: center;
}

.footer-link {
    font-size: 1.1rem;
    transition: color 0.2s;
    color: #fff;
    text-decoration: none;
    margin: 0 1rem;
}

.footer-link:hover {
    color: #ffce00;
}
    </style>
</footer>